pip
numpy
matplotlib
torch
#torch==1.11
torchvision
timm
tqdm
sklearn
pandas
Pillow
transformers
openpyxl
pydicom
nltk
segmentation-models-pytorch
albumentations
pytorch-lightning
omegaconf


#can delete these later
#opencv-python
#pytorch_metric_learning
sentencepiece