pip
numpy
matplotlib
torch
#torch==1.11
torchvision
timm
tqdm
sklearn
pandas
Pillow
transformers
openpyxl
pydicom
nltk
segmentation-models-pytorch
albumentations
pytorch-lightning
omegaconf

#need for LAVT
mmcv-full==1.3.12
mmsegmentation==0.17.0

#can delete these later
#opencv-python
#pytorch_metric_learning
sentencepiece