numpy
matplotlib
torch
torchvision
timm
tqdm
sklearn
pandas
Pillow
transformers
openpyxl
pydicom


segmentation-models-pytorch
albumentations

#can delete these later
#opencv-python
#pytorch_metric_learning
